<header>Bidding Details Page</header>
{{!-- <nav>
  <ul class='columns is-mobile is-centered is-multiline'>
    <li class='column'>
      <a href='/profile'>Profile</a>
    </li>
    <li class='column'>
      <a href='/'>Auction</a>
    </li>
    <li class='column'>
      <a href=''>logout</a>
    </li>
  </ul>
</nav> --}}

<div>
  <div class='slideshow-container'>
    <div class='mySlides fade'>
      <div class='numbertext'>1 / 4</div>
      <img src='{{car.img_url}}' style='width: 100%' />
      <div class='text'>{{title}}</div>
    </div>

    <div class='mySlides fade'>
      <div class='numbertext'>2 / 4</div>
      <img src='{{car.img_url}}' style='width: 100%' />
      <div class='text'>2017 Kawasaki Ninja ZX-6R 636</div>
    </div>

    <div class='mySlides fade'>
      <div class='numbertext'>3 / 4</div>
      <img src='{{car.img_url}}' style='width: 100%' />
      <div class='text'>2017 Kawasaki Ninja ZX-6R 636</div>
    </div>

    <div class='mySlides fade'>
      <div class='numbertext'>4 / 4</div>
      <img src='{{car.img_url}}' style='width: 100%' />
      <div class='text'>2017 Kawasaki Ninja ZX-6R 636</div>
    </div>

    <a class='prev' id='plusSlides(-1)' onclick='plusSlides(-1)'>❮</a>
    <a class='next' id='plusSlides(1)' onclick='plusSlides(1)'>❯</a>
  </div>
  <br />

  <div style='text-align: center'>
    <span class='dot' onclick='currentSlide(1)'></span>
    <span class='dot' onclick='currentSlide(2)'></span>
    <span class='dot' onclick='currentSlide(3)'></span>
    <span class='dot' onclick='currentSlide(4)'></span>
  </div>
</div>
<div class='columns is-centered is-mobile is-multiline bidDetailsCont'>
  <div class='column is-narrow lotDetailsContainer'>
    <div class='detailsCard'>
      <h1>Lot Details</h1>
      <ul>
        <li>Vin:<span class='vin'>{{vin}}</span></li>
        <li>Miles:<span class='miles'>{{miles}}</span></li>
        <li>Fuel Type:<span class='fuel_type'>{{fuel_type}}</span></li>
        <li>Transmission:<span class='transmission'>{{transmission}}</span></li>
        <li>Engine:<span class='engine'>{{engine}}</span></li>
        <li>Title:<span class='title'>{{title}}</span></li>
      </ul>
    </div>
  </div>
  <div class='column is-narrow bidCardContainer'>
    <div class='bidPageCard biddingForm'>
      <h1>Bidding Details</h1>
      <ul>
        {{#if current_bid}}
          <li>Current Bid:<span class='current_bid'>{{topBid.bid}}</span>{{format_dinero current_bid}}</li>
        {{else}}
          <li>Current Bid:<span class='current_bid' value='0'>{{format_dinero
                starting_bid
              }}</span></li>
        {{/if}}
        <li>Bid Increment:<span
            class='bid_increment'
            value='{{bid_increment}}'
          >{{format_dinero bid_increment}}</span></li>
        <li>Min Bid:<span
            class='min_bid'
            id='minBid'
            value='({{starting_bid}}+{{bid_increment}})'
          >({{format_dinero starting_bid}}
            +{{format_dinero bid_increment}})</span></li>
        <li>Time Remaining:<span class='time_remaining'></span></li>
      </ul>
      <button class='bidHistoryBtn' onclick="showHistory()">Bid History</button>

      <form action=''>
        <input type='hidden' name='car-id' value='{{id}}' />
        <input type='hidden' name='bidInc' value='{{bid_increment}}' />
        {{#if current_bid}}
        <input type='hidden' name='currBid' value='{{current_bid}}' />
        {{else}}
        <input type='hidden' name='currBid' value='{{starting_bid}}' />
        {{/if}}
        <label for='newBid'>Please enter Bid at or higher than Min Bid</label><br
        />
        <input
          type='text'
          id='newBid'
          name='newBid'
          placeholder='Enter Bid'
        /><br /><br />
        {{! <input type='submit' value='Submit' /> }}
        <button class='signUpBtn' type='submit'>Submit</button>
      </form>
    </div>
  </div>
</div>

<div class="modal bid-history-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title" style="color: white;">Bid History</p>
      <button class="delete" onclick="closeHistory()" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Time</th>
            <th>Bid</th>
          </tr>
        </thead>
        <tbody>
          {{#each bids as |bid|}}
            <tr>
              {{#if bid.timestamp}}
                <td>{{format_date bid.timestamp}}</td>
              {{else}}
                <td>undefined</td>
              {{/if}}
              <td>{{format_dinero bid.bid}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </section>
  </div>
</div>

<script src='/js/new-bid.js'></script>